.header-wrapper {
    position: relative;
    padding: 20px 100px;
    border-bottom: 2px solid #52a3f5;
    .userbar-wrapper {
        position: relative;
        right: 100px;
        top: 10px;
    }
}

.main-wrapper {
    .createTask {
        margin-top: 10px;
        margin-left: 20px;
    }
    table {
        margin: 10px auto;
        width: 95%;
        border-collapse: collapse;
        font-size: 14px;
        thead th {
            background: #f5f8fa;
            height: 40px;
        }
        td,
        th {
            border: 1px solid #ccc;
            text-align: center;
        }
    }
    .operation {
        width: 200px;
        padding-top: 5px;
        a {
            margin-bottom: 5px;
        }
    }
}

#pager {
    text-align: center;
}
